/*

# whitelist
!/NoWanderingDomains/
!/.github
!/NoWanderingDomains.lean
!/lakefile.toml
!/lake-manifest.json
!/lean-toolchain
!/README.md
!/LICENSE
!/CITATION.cff
!/.gitignore
# end of whitelist

.DS_Store
